@using Microsoft.AspNet.Identity
@model Gallery.WebUI.Models.Account.LoginViewModel
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "navbar-form navbar-right", role = "form" }))
    {
        <div class="form-group">
            @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
            @Html.TextBoxFor(x => x.Email, new { @placeholder = "Email", @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
            @Html.PasswordFor(x => x.Password, new { @placeholder = "Password", @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-success">Sign in</button>
        <div>
            <a href="@Url.Action("Register", "Account")">Registration</a>
        </div>

    }
}
