@using Gallery.Util.Conrete
@using Gallery.WebUI.Helpers
@model Gallery.WebUI.Models.Account.LoginViewModel
@{
    var user = AuthHelper.GetUser(Context, new AccountUtil(ConfigHeper.AccountApiUrl));
}
@if (user != null)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + user.UserName, "EditAccount", "Manage")
            </li>
            @if (AuthHelper.IsAdministrator(Context))
            {
                <li>@Html.ActionLink("Admin page", "Index", "Admin") </li>
            }
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "navbar-form navbar-right", role = "form" }))
    {
        <div class="form-group">
            @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
            @Html.TextBoxFor(x => x.Email, new { @placeholder = "Email", @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
            @Html.PasswordFor(x => x.Password, new { @placeholder = "Password", @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-success">Sign in</button>
        <input type='button' class="btn btn-success" value='Registration' onclick='window.location = "@Url.Action("Register", "Account") ";' />
    }
}
