@{
    ViewBag.Title = "Admin page";
}
<div class="row">
    <div class="col-md-12">
        <div class="col-md-offset-1 title">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="form-group col-md-offset-1 col-md-10">
            <input type='button' class="btn btn-success navigation" value='Departaments' onclick='window.location = "@Url.Action("Index","Departament")";' />
        </div>
        <div class="form-group col-md-offset-1 col-md-10">
            <input type='button' class="btn btn-success navigation" value='Genres' onclick='window.location = "@Url.Action("Index", "Genre")";' />
        </div>
        <div class="form-group col-md-offset-1 col-md-10">
            <input type='button' class="btn btn-success navigation" value='Painters' onclick='window.location = "@Url.Action("Index", "Painter")";' />
        </div>
        <div class="form-group col-md-offset-1 col-md-10">
            <input type='button' class="btn btn-success navigation" value='Pictures' onclick='window.location = "@Url.Action("Index", "Picture")";' />
        </div>
    </div>
</div>

