@{
    ViewBag.Title = "Admin page";
}
<div class="row">
    <div class="col-md-12">
        <div class="col-md-offset-1 col-md-10 title">
            <h1>@ViewBag.Title</h1>
        </div>

        <div class="form-group col-md-offset-1 col-md-10">
            <a class="btn btn-success navigation" href="@Url.Action("Index","Departament")" role="button">Departaments &raquo;</a>
        </div>
        <div class="form-group col-md-offset-1 col-md-10">
            <a class="btn btn-success navigation" href="@Url.Action("Index", "Genre")" role="button">Genres &raquo;</a>
        </div>
        <div class="form-group col-md-offset-1 col-md-10">
            <a class="btn btn-success navigation" href="@Url.Action("Index", "Painter")" role="button">Painters &raquo;</a>
        </div>
        <div class="form-group col-md-offset-1 col-md-10">
            <a class="btn btn-success navigation" href="@Url.Action("Index", "Picture")" role="button">Pictures &raquo;</a>
        </div>
    </div>
</div>

