@using Gallery.Util.Conrete
@using Gallery.WebUI.Helpers
@using Gallery.WebUI.Models.Home
@using Gallery.WebUI.Models.Image
@model HomeViewModel
@{
    ViewBag.Title = "Gallery";
    ViewBag.Dep = Model.SelectedDepartament;
}

<div class="jumbotron">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            @for (var i = 0; i < Model.Pictures.Count(); i++)
            {
                <li data-target="#carousel-example-generic" data-slide-to="@i" class="@String.Format("{0}", i==0?"active":"")"></li>
            }
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            @for (var i = 0; i < Model.Pictures.Count(); i++)
            {
                <div class="item @String.Format("{0}", i==0?"active":"")">
                    @Html.Partial("ImageSummary", new ImageViewModel { Width = 300, Height = 400, Image = ImageHelper.FilterImagesByMaxHeightAndMaxWidth(new ImageUtil(ConfigHeper.ImageApiUrl), Model.Pictures[i].PictureId, 200, 200, 400, 400) })
                </div>
            }
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>

</div>
<div class="row">

    @foreach (var picture in Model.Pictures)
    {
        Html.RenderPartial("PictureSummary", picture);
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

