@using GridMvc.Html
@model IEnumerable<Gallery.WebUI.Models.Departament.DepartamentViewModel>

@{
    ViewBag.Title = "Departaments";
}

<div class="row">
    <div class="col-md-12">

        <div class="col-md-offset-1 title">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="col-md-offset-1">
            @Html.ActionLink("Add departament", "CreateDepartament")
        </div>
        <div class="col-md-offset-1">
            @Html.Grid(Model, "_Grid").Columns(
                columns =>
                {
                    columns.Add(foo => foo.Id, true);
                    columns.Add(foo => foo.Name).Sortable(true).Titled("Name");
                    columns.Add(foo => foo.Description).Sortable(true).Titled("Description");
                    columns.Add().Sanitized(false).Encoded(false).RenderValueAs(foo => Html.ActionLink("Edit", "EditDepartament", new { id = foo.Id }).ToHtmlString());
                    columns.Add().Sanitized(false).Encoded(false).RenderValueAs(foo => Html.ActionLink("Delete", "DeleteDepartament", new { id = foo.Id }).ToHtmlString());
                }).WithPaging(20)
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/gridmvc")
}